<label class="file-label" *ngIf="label">
    <mat-icon *ngIf="labelIcon">{{ labelIcon }}</mat-icon>
    {{ label }}
</label>

<div class="file-input-wrapper" [ngClass]="{'inline-upload': isInline}">
    <input 
        type="file" 
        [accept]="accept" 
        [multiple]="multiple" 
        [disabled]="disabled"
        (change)="onFilesSelected($event)"
        [id]="inputId"
        class="file-input"
    />
    <label [for]="inputId" class="file-input-button" [class.disabled]="disabled">
        <app-upload-icon *ngIf="useAppUploadIcon"></app-upload-icon>
        <mat-icon *ngIf="!useAppUploadIcon && buttonIcon">{{ buttonIcon }}</mat-icon>
        {{ buttonText }}
    </label>

    <!-- Inline layout file display -->
    <ng-container *ngIf="isInline">
        <span class="file-name" *ngIf="files && files.length > 0">
            {{ files[0].name }}
            <button type="button" (click)="onRemoveFile(0)" class="remove-file-btn" [disabled]="disabled">
                <mat-icon>close</mat-icon>
            </button>
        </span>
        <span class="file-name empty" *ngIf="!files || files.length === 0">{{ emptyText }}</span>
    </ng-container>
    
    <!-- Non-inline layout file display -->
    <ng-container *ngIf="!isInline">
        <div class="file-list" *ngIf="files && files.length > 0">
            <div class="file-item" *ngFor="let file of files; let i = index">
                <span class="file-name">{{ file.name }}</span>
                <button type="button" (click)="onRemoveFile(i)" class="remove-file-btn" [disabled]="disabled">
                    <mat-icon>close</mat-icon>
                </button>
            </div>
        </div>
        <span class="file-name empty" *ngIf="!files || files.length === 0">{{ emptyText }}</span>
    </ng-container>
</div>
