<div class="footer">
    <div class="footer__content">
        <img src="assets/images/logo-horizontal.svg" alt="quantag-logo">

        @if (isLabsRoute) {
        <ul class="footer__contact">
            <li><a class="footer__contact__link" href="mailto:info@quantag-it.com">Questions?</a></li>
            <li><a class="footer__contact__link" href="https://github.com/quantag/qdb-qscore/discussions/4" target="_blank">Problems?</a></li>
        </ul>
        }

        <div class="footer__links">
            <ul class="footer__links__list">
                <li class="footer__links__item">
                    <a class="footer__links__link" routerLink="/privacy-policy">Privacy Policy</a>
                </li>

                <!-- <li class="footer__links__item">
                    <a class="footer__links__link" href="/contact-us">Cookie Policy</a>
                </li>

                <li class="footer__links__item">
                    <a class="footer__links__link" href="/terms-of-service">Terms of Service</a>
                </li> -->

                <!-- <li class="footer__links__item">
                    <a class="footer__links__link" routerLink="/for-investors">For Investors</a>
                </li> -->

                <li class="footer__links__item">
                    <a class="footer__links__link" href="https://quantum.quantag-it.com/docs" target="_blank">Docs</a>
                </li>
            </ul>
        </div>
    </div>
    <span class="footer__copyright">
        Copyright © 2000-2025 Quantag IT Solutions
    </span>
</div>