@use "colors" as *;

.footer {
    background-color: $primary-800;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 100px 12px;
    gap: 10px;


    &__content {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__contact {
        display: flex;
        color: $white;
        flex-wrap: wrap;
        justify-content: center;

        &__link {
            padding: 8px 20px;
            font-weight: 600;
            font-size: 12px;
            line-height: 16px;
            letter-spacing: 0%;
            color: $white;
        }
    }

    &__links {
        &__list {
            display: flex;
            color: $white;
            flex-wrap: wrap;
            justify-content: center;
        }

        &__link {
            padding: 8px 20px;
            font-weight: 600;
            font-size: 12px;
            line-height: 16px;
            color: $white;
        }
    }

    &__copyright {
        font-weight: 400;
        font-size: 10px;
        line-height: 12px;
        text-align: center;
        color: $light-grey;
        margin-right: 65px;
    }

    // Add responsive styles
    @media (max-width: 992px) {
        padding: 16px 40px 12px;
    }

    @media (max-width: 768px) {
        padding: 16px 20px 12px;

        &__content {
            flex-direction: column;
            gap: 15px;
        }

        .footer__copyright {
            margin-right: 0;
        }
    }

    @media (max-width: 480px) {
        &__links {
            &__list {
                flex-direction: column;
                align-items: center;
                gap: 10px;
            }
            
            &__link {
                padding: 8px 10px;
            }
        }

        .footer__contact {
            flex-direction: column;
            align-items: center;
            gap: 10px;
            
            &__link {
                padding: 8px 10px;
            }
        }
    }
}