<div class="home">
    <div class="slider">
        @for (slide of slides; track slide.title) {
            <div class="slider__item" [ngClass]="{'active': slide.active}">
                <img [src]="slide.image" alt="Slide Image" />
                <div class="slider__content">
                    <h2 [innerHTML]="slide.title"></h2>
                    <div class="slider__download">
                        <app-button
                            [label]="'Try In VS Code'"
                            [customIcon]="'assets/images/vs-code-icon.svg'"
                            (clicked)="gotToExtension()">
                        </app-button>
                        <!-- <span class="slider__download__count"><img src="assets/images/download-icon.svg" alt=""download icon>2.3k installs</span> -->
                    </div>
                </div>
            </div>
        }
        
        <div class="slider__indicators">
            @for (slide of slides; track slide.title; let i = $index) {
                <div 
                    class="slider__indicator" 
                    [ngClass]="{'active': slide.active}"
                    [style.transform]="'scale(' + getIndicatorScale(i) + ')'"
                    (click)="goToSlide(i)">
                </div>
            }
        </div>
    </div>

    <div class="partners">
        <span>
            Accepted by <a href="https://www.ibm.com/quantum/ecosystem" target="_blank">IBM Qiskit ecosystem</a>  and 
            <br>by <a href="https://microsoft.github.io/debug-adapter-protocol/implementors/adapters/" target="_blank">Microsoft
            as Debugger Adapter Protocol OpenQASM implementation</a>
        </span>
        <div class="partners__logos">
            @for (partner of partners; track partner.name) {
                <a [href]="partner.link" target="_blank">
                    <img [src]="partner.logo" [alt]="partner.name" />
                </a>
                
            }
        </div>
    </div>

    <div class="description">
        <div class="description__illustration">
            <div class="description__illustration__highlight-area"></div>
            <img src="assets/images/structure.svg" alt="structure">
        </div>

        <div class="description__content">
            <h3 class="description__content__title">Understand <br> the quantum code</h3>
            <p class="description__content__text">Debugging in classical software means stepping through code and viewing variable states. In quantum computing, variables are qubit states — which can't be directly measured. Quantum Debugger solves this using simulation.</p>

        </div>
    </div>
    
    <div class="samples">
        <div class="samples__header">
            <h2 class="samples__header__title">Quantum development in standard IDE </h2>
            <!-- <p class="samples__header__text"></p> -->
        </div>

        <div class="samples__highlight-area" 
             [style.opacity]="samplesHighlightOpacity"
             [class.fade-in]="samplesHighlightOpacity === 1"></div>

        <div class="slider slider-samples">
            <div class="slider__hover-area slider__hover-area--left"></div>
            <div class="slider__hover-area slider__hover-area--right"></div>
            
            <div class="slider__arrow slider__arrow--left" (click)="goToPreviousSampleSlide()">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15 18L9 12L15 6" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>
            
            <div class="slider__arrow slider__arrow--right" (click)="goToNextSampleSlide()">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9 18L15 12L9 6" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>
            
            @for (slide of sampleSlides; track slide.title) {
                <div class="slider__item" [ngClass]="{'active': slide.active}">
                    <img [src]="slide.image" alt="Slide Image" />
                    <div class="slider__content">
                        <h2 [innerHTML]="slide.title"></h2>
                    </div>
                </div>
            }
    
            <div class="slider__indicators">
                @for (slide of sampleSlides; track slide.title; let i = $index) {
                    <div 
                        class="slider__indicator" 
                        [ngClass]="{'active': slide.active}"
                        [style.transform]="'scale(' + getIndicatorScale(i) + ')'"
                        (click)="goToSampleSlide(i)">
                    </div>
                }
            </div>
        </div>
    </div>

    <!-- <div class="plans">
        <div class="plans__header">
            <h2 class="plans__header__title">Plans</h2>
            <div class="plans__header__switcher">
                <div class="plans__header__switcher__slider" [class.annually]="!isMonthlyPlan"></div>
                <div class="plans__header__switcher__item" (click)="togglePlan(true)">
                    Monthly
                </div>
                <div class="plans__header__switcher__item" (click)="togglePlan(false)">
                    Annually
                </div>
            </div>
        </div>

        <div class="plans__content">
            <div class="plans__cards">
                @for (plan of activePlans; let index = $index; track plan.title) {
                    <app-plan-card [plan]="plan" [sequence]="index"></app-plan-card>
                }
            </div>
        </div>
    </div> -->

    <div class="contact-us">
        <div class="contact-us__content">
            <div class="contact-us__content__highlight-area"></div>
            <h2 class="contact-us__content__title">Get in Touch</h2>
            <p class="contact-us__content__text">If you have any questions - please fill contact form.</p>
            <!-- <app-button [label]="'For Investors'" (clicked)="goToForInvestors()"></app-button> -->
        </div>

        <div class="contact-us__form">
            <form [formGroup]="contactForm" (ngSubmit)="onSubmitContactForm()">
                <div class="contact-us__form__row">
                    <div class="contact-us__form__field">
                        <label for="firstName">First Name</label>
                        <input 
                          type="text" 
                          id="firstName" 
                          formControlName="firstName" 
                          placeholder="Type name here..."
                          [ngClass]="{'invalid': formSubmitted && f['firstName'].errors}"
                        >
                        <div class="contact-us__form__error" *ngIf="formSubmitted && f['firstName'].errors">
                            <span *ngIf="f['firstName'].errors['required']">First name is required</span>
                            <span *ngIf="f['firstName'].errors['minlength']">Must be at least 2 characters</span>
                        </div>
                    </div>

                    <div class="contact-us__form__field">
                        <label for="lastName">Last Name</label>
                        <input 
                          type="text" 
                          id="lastName" 
                          formControlName="lastName" 
                          placeholder="Type surname here..."
                          [ngClass]="{'invalid': formSubmitted && f['lastName'].errors}"
                        >
                        <div class="contact-us__form__error" *ngIf="formSubmitted && f['lastName'].errors">
                            <span *ngIf="f['lastName'].errors['required']">Last name is required</span>
                            <span *ngIf="f['lastName'].errors['minlength']">Must be at least 2 characters</span>
                        </div>
                    </div>
                </div>

                <div class="contact-us__form__field">
                    <label for="email">Email</label>
                    <input 
                      type="email" 
                      id="email" 
                      formControlName="email" 
                      placeholder="Type email here..."
                      [ngClass]="{'invalid': formSubmitted && f['email'].errors}"
                    >
                    <div class="contact-us__form__error" *ngIf="formSubmitted && f['email'].errors">
                        <span *ngIf="f['email'].errors['required']">Email is required</span>
                        <span *ngIf="f['email'].errors['email']">Please enter a valid email address</span>
                    </div>
                </div>
                
                <div class="contact-us__form__field">
                    <label for="message">Message</label>
                    <textarea
                        id="message"
                        formControlName="message"
                        placeholder="Type message here..."
                        [rows]="3"
                        [ngClass]="{'invalid': formSubmitted && f['message'].errors}"
                    ></textarea>
                    <div class="contact-us__form__error" *ngIf="formSubmitted && f['message'].errors">
                        <span *ngIf="f['message'].errors['required']">Message is required</span>
                        <span *ngIf="f['message'].errors['minlength']">Message must be at least 10 characters</span>
                    </div>
                </div>
                
                <app-button 
                    [label]="'Submit'" 
                    [type]="'stroked'" 
                    [color]="'accent'"
                    [disabled]="formSubmitted && contactForm.invalid"
                ></app-button>
            </form>
        </div>
    </div>
</div>