<div class="navigation">
    <div class="navigation__hamburger" (click)="toggleMobileMenu()">
        <span></span>
        <span></span>
        <span></span>
    </div>
    
    <div class="navigation__container" [class.active]="isMobileMenuOpen">
        <ul class="navigation__list">
            <li class="navigation__item">
                <a class="navigation__link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="closeMobileMenu()">Home</a>
            </li>
            <li class="navigation__item">
                <a class="navigation__link" href="https://quantum.quantag-it.com/lab" (click)="closeMobileMenu()">Lab</a>
            </li>
            <li class="navigation__item">
                <a class="navigation__link" href="https://quantum.quantag-it.com/docs" target="_blank" (click)="closeMobileMenu()">Docs</a>
            </li>
        </ul>

        <div class="navigation__login-mobile">
                <a [class.hidden]="!isLogin" class="navigation__link" routerLink="/profile" routerLinkActive="active">My Profile</a>
                <app-button [class.hidden]="!isLogin" [label]="'Log Out'" (clicked)="signOut()"></app-button>
                <app-button [class.hidden]="isLogin" [label]="'Log In'" (clicked)="signIn()"></app-button>
        </div>
    </div>

    <div class="navigation__login-desktop">
            <a [class.hidden]="!isLogin" class="navigation__link" routerLink="/profile" routerLinkActive="active">My Profile</a>
            <app-button [class.hidden]="!isLogin" [label]="'Log Out'" (clicked)="signOut()"></app-button>
            <app-button [class.hidden]="isLogin" [label]="'Log In'" (clicked)="signIn()"></app-button>
    </div>
</div>