$black: #000000;
$black-10: #0000001A;
$white: #ffffff;
$white-100: #FFFFFF1A;
$primary: #212967;
$grey: #131927;
$grey-400: #9EA2AE;
$grey-300: #D2D5DB;
$light-grey: #D2D5DB;
$green: #1C4D27;
$red: #641D1A;
$red-500: #EE443F;
$yellow: #6B4700;
$blue: #003F6B;
$primary-900: #161D50;
$primary-800: #2B3587;
$primary-775: #2F3A8C;
$primary-750: #323E92;
$primary-725: #364297;
$primary-700: #3745AF;
$primary-600: #4758E0;
$primary-500: #4E61F6;
$primary-200: #9BA3F7;
$primary-100: #C4C9F9;
$primary-75: #D1D5FA;
$primary-50: #E8EAFD;
$primary-25: #F4F5FE;
$secondary: #6B4700;
$secondary-600: #5A3C00;
$gray-300: #D1D5DB;
$gray-500: #6B7280;
$gray-600: #4B5563;
$border-color: #AEB6FB;