<div class="xyz">
    <header class="xyz-header">
        <app-button [label]="'Back to Labs'" (clicked)="navigateBack()" [icon]="'arrow_back'"></app-button>
        <div class="header-content">
            <h2>XYZ Molecular Viewer</h2>
            <div *ngIf="hasLoadedFile && currentFileName" class="current-file">
                <svg width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                    <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"/>
                    <polyline points="14,2 14,8 20,8"/>
                </svg>
                <span>{{ currentFileName }}</span>
            </div>
        </div>
    </header>
    
    <div class="file-inputs">
        <div class="upload-controls">
            <input type="file" #fileInput id="fileInput" accept=".xyz" style="display: none;" />
            <app-button
                [type]="'raised'"
                [icon]="'upload_file'"
                [label]="'Upload XYZ File'"
                (clicked)="fileInput.click()"
            ></app-button>
            
            <input 
                type="url" 
                #urlInput 
                id="urlInput" 
                placeholder="https://example.com/molecule.xyz"
                [(ngModel)]="urlValue"
                class="url-input"
            />
            <app-button
                [type]="'raised'"
                [icon]="'download'"
                [label]="'Download from URL'"
                (clicked)="downloadFromUrl()"
                [disabled]="!urlValue || isDownloading"
                [loading]="isDownloading"
            ></app-button>
            
            <app-button
                [type]="'raised'"
                [icon]="'folder'"
                [label]="'Browse Samples'"
                (clicked)="browseFiles()"
                [disabled]="isBrowsing"
                [loading]="isBrowsing"
            ></app-button>
        </div>
    </div>

    <!-- File Browser Modal -->
    <div *ngIf="showBrowser" class="sample-browser-overlay">
        <div class="sample-browser-modal">
            <div class="modal-header">
                <h3>Sample XYZ Files</h3>
                <app-button
                    [type]="'icon'"
                    [icon]="'close'"
                    [color]="'accent'"
                    (clicked)="closeBrowser()"
                    class="close-btn"
                ></app-button>
            </div>
            
            <div class="modal-body">
                <div class="sample-list">
                    <div 
                        *ngFor="let file of availableFiles" 
                        class="sample-item"
                        (click)="loadFileFromBrowser(file)"
                    >
                        <div class="sample-header">
                            <div class="sample-name">{{ file.name }}</div>
                            <div class="sample-description">{{ file.date }} - {{ file.size }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <canvas #canvas></canvas>
</div>